<form [formGroup]="orderForm" (submit)="startOrder()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-error>Please enter your name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tel</mat-label>
    <input matInput type="text" formControlName="tel" />
    <mat-error *ngIf="telControl.hasError('minLength')">
      Please enter a valid phone number
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button>Start order !</button>
</form>
